<p class="light" style="box-sizing: border-box;font-weight: 300;margin: 0 0 12px;padding: 0;margin-bottom: 1.25rem;text-rendering: optimizeLegibility;color: #000!important;font-family: Helvetica,sans-serif;font-size: 12px;letter-spacing: .1px;line-height: 14px;orphans: 3;widows: 3;background: 0 0!important;box-shadow: none!important;text-shadow: none!important;">Med venlig hilsen,</p>

<p style="box-sizing: border-box;font-weight: 400;margin: 0 0 12px;padding: 0;margin-bottom: 1.25rem;text-rendering: optimizeLegibility;color: #000!important;font-family: Helvetica,sans-serif;font-size: 12px;letter-spacing: .1px;line-height: 14px;orphans: 3;widows: 3;background: 0 0!important;box-shadow: none!important;text-shadow: none!important;">
	<span class="name" style="box-sizing: border-box;display: block;font-size: 16px;font-weight: bold;line-height: 20px;background: 0 0!important;color: #000!important;box-shadow: none!important;text-shadow: none!important;">Mats Toftenes</span>
	Konseptutvikler
</p>

<p style="box-sizing: border-box;font-weight: 400;margin: 0 0 12px;padding: 0;margin-bottom: 1.25rem;text-rendering: optimizeLegibility;color: #000!important;font-family: Helvetica,sans-serif;font-size: 12px;letter-spacing: .1px;line-height: 14px;orphans: 3;widows: 3;background: 0 0!important;box-shadow: none!important;text-shadow: none!important;">
	+47 995 00 773<br style="box-sizing: border-box;background: 0 0!important;color: #000!important;box-shadow: none!important;text-shadow: none!important;">
	mats@svev.no
</p>

<p style="box-sizing: border-box;font-weight: 400;margin: 0 0 12px;padding: 0;margin-bottom: 1.25rem;text-rendering: optimizeLegibility;color: #000!important;font-family: Helvetica,sans-serif;font-size: 12px;letter-spacing: .1px;line-height: 14px;orphans: 3;widows: 3;background: 0 0!important;box-shadow: none!important;text-shadow: none!important;">
	<img src="images/svev-logo.png" alt="" style="box-sizing: border-box;border: 0;height: auto;-ms-interpolation-mode: bicubic;vertical-align: middle;margin-bottom: 2px;display: block;background: 0 0!important;color: #000!important;box-shadow: none!important;text-shadow: none!important;max-width: 100%!important;">
	<span class="subtitle" style="box-sizing: border-box;color: #000!important;background: 0 0!important;box-shadow: none!important;text-shadow: none!important;">
		Svev Trampolinepark<br style="box-sizing: border-box;background: 0 0!important;color: #000!important;box-shadow: none!important;text-shadow: none!important;">
		www.svev.no
	</span>
</p>

<p class="disclaimer light" style="box-sizing: border-box;font-weight: 300;margin: 0 0 12px;padding: 0;margin-bottom: 1.25rem;text-rendering: optimizeLegibility;color: #000!important;font-family: Helvetica,sans-serif;font-size: 7px;letter-spacing: .1px;line-height: 9px;orphans: 3;widows: 3;background: 0 0!important;box-shadow: none!important;text-shadow: none!important;">This email is intended only for the person to whom it is addressed and/or otherwise authorized personnel. The information contained herein and attached is confidential and the property of Nordic Fun. If you are not the intended recipient, please be advised that viewing this message and any attachments, as well as copying, forwarding, printing, and disseminating any information related to this email is prohibited, and that you should not take any action based on the content of this email and/or its attachments. If you received this message in error, please contact the sender and destroy all copies of this email and any attachment. Please note that the views and opinions expressed herein are solely those of the author and do not necessarily reflect those of the company. While antivirus protection tools have been employed, you should check this email and attachments for the presence of viruses. No warranties or assurances are made in relation to the safety and content of this email and attachments. Nordic Fun accepts no liability for any damage caused by any virus transmitted by or contained in this email and attachments. No liability is accepted for any consequences arising from this email.</p>