/* all app scss styles here */

$grey: #A7A7A7;

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	color: black;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.1px;
	line-height: 14px;
	margin: 0 0 12px;
}

.name {
	display: block;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

img {
	display: block;
	margin-bottom: 2px;
}

.subtitle {
	color: $grey;
}

.disclaimer {
	color: $grey;
	font-size: 7px;
	line-height: 9px;
}

.light {
	font-weight: 300;
}
